spring.application.name=LocalJanitorAgent
agent.files.extensions=.png
# agent.fs.root-dir=${user.home}/Janitor_Sandbox

# Gemini AI Configuration
# REPLACE WITH YOUR KEY
agent.gemini.key=YOUR_GEMINI_API_KEY_HERE
agent.model=gemini-1.5-flash
